name: Terraform Apply

on:
  push:
    branches: [ main ]
    paths:
      - 'modules/**'
      - 'examples/**'

jobs:
  apply:
    uses: v-grand/infra-ci/.github/workflows/reusable/terraform-apply.yml@main
    with:
      working-directory: examples/aws-dev
      environment: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
