name: Terraform Plan

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'modules/**'
      - 'examples/**'

jobs:
  plan:
    uses: v-grand/infra-ci/.github/workflows/reusable/terraform-plan.yml@main
    with:
      working-directory: examples/aws-dev
      environment: dev
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
